doctype html
html(lang=mylang, ng-app='opendispatcher')
  head
    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='keywords', content='dispatch, first, responder, emergency, crisis, incident, map, 4')
    meta(name='description', content='opendispatcher 4 - First responder HTML5 nodejs angular client application')
    meta(name='generator', content='jade-engine')
    title= t('app.title')
    include head

  block content
