// angular
script(src='/js/libs/angular/angular.min.js')
script(src='/js/libs/angular/angular-animate.min.js')
script(src='/js/libs/angular/angular-filter.js')
script(src='/js/libs/angular/angular-range-slider.js')
script(src='/js/libs/angular/angular-sanitize.min.js')
script(src='/js/libs/angular/angular-resource.min.js')
script(src='/js/libs/angular/angular-simple-logger.min.js')

// angular-ui
script(src='/js/libs/angular/ui-bootstrap-tpls-0.14.3.min.js')
script(src='/js/libs/angular/angular-ui-router.min.js')
script(src='/js/libs/angular/angular-breadcrumb.min.js')

// i18next
script(src='/i18next/i18next.js')
script(src='/js/libs/angular/ng-i18next.min.js')

// Leaflet
script(src='/js/libs/leaflet/leaflet.js')
script(src='js/libs/leaflet/leaflet-history.js')
script(src='js/libs/leaflet/Control.MiniMap.js')
script(src='/js/libs/leaflet/angular-leaflet-directive.js')

// opendispatcher
script(src='/js/opendispatcher/app.js')

script(src='/js/opendispatcher/controllers/date.js')
script(src='/js/opendispatcher/controllers/geocoder.js')
script(src='/js/opendispatcher/controllers/hazards.js')
script(src='/js/opendispatcher/controllers/navigation.js')
script(src='/js/opendispatcher/controllers/organization.js')
script(src='/js/opendispatcher/controllers/organizations.js')
script(src='/js/opendispatcher/controllers/settings.js')
script(src='/js/opendispatcher/controllers/site.js')
script(src='/js/opendispatcher/controllers/sites.js')
script(src='/js/opendispatcher/controllers/viewer.js')

script(src='/js/opendispatcher/factories/geocoder.js')
script(src='/js/opendispatcher/factories/hazards.js')
script(src='/js/opendispatcher/factories/organization.js')
script(src='/js/opendispatcher/factories/organizations.js')
script(src='/js/opendispatcher/factories/site.js')
script(src='/js/opendispatcher/factories/sites.js')
script(src='/js/opendispatcher/factories/uncache.js')

script(src='/js/opendispatcher/services/settings.js')
script(src='/js/opendispatcher/services/sites.js')
