/nbproject
/node_modules
/public/css/dbk.min.css
/public/js/dbk.min.js
/public/js/dbkjs/images_base64.js
config.json
.c9revisions/
.idea/
.settings
config-true.json
*~
dummy.xml
*.zip
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.log
pids
results

nodeless_deploy
nodeless_output
api_bak

npm-debug.log
node_modules
/app_aris.js
/public/api/
/build/
app_vru.js
/dbk-component
/public/api
