/nbproject
/node_modules
/public/css/dbk.min.css
/public/js/dbk.min.js
config.json
config-true.json
*~
dummy.xml
*.zip
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
