/nbproject
/node_modules
/public/css/dbk.min.css
/public/js/dbk.min.js
config.json
.c9revisions/
.idea/
.settings
config-true.json
*~
dummy.xml
*.zip
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

nodeless_output
api_bak

npm-debug.log
node_modules

app_vru.js
/dbk-component
/public/api
