extends page_header

block content
  div.container-fluid
    for item in items
      div.col-lg-3
        div.row.milotron
          div.col-lg-6.symbol-block
            a(href="#" + item.brandweervoorziening_symbool)
            div.image-wrapper
              img(src="images/" + item.namespace + "/" + item.brandweervoorziening_symbool + ".png")
            h4= item.naam
            span= item.omschrijving
              