html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}
.thumb {
    width: 33%;
    height: auto;
}
.dialog{
    width: 100%;
}
.main-button-group {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.main-button-group .btn {
    font-size: 2.5em !important;
    line-height: 50px;
}
.btn.dbk-title {
    position: absolute;
    bottom: 10px;
    right: 10px;    visibility: hidden;
    font-size: 16px !important;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main-button-group .btn.layer-toggle-btn {
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    font-size: 1em !important;
}
.main-button-group .btn.layer-toggle-btn span {
    line-height: normal;
}
.toggleObject {
    background-color: #4cae4c !important;
}
.togglePreventive {
    background-color: #ffff4f !important;
}
.togglePreparative {
    background-color: #0e90d2 !important;
}
.toggleDanger {
    background-color: #b92c28 !important;
}
.layertoggle-btn-group .btn {
    position: relative;
}
.layertoggle-btn-group .active:after {
    content: ' ';
    position: absolute;
    display: block;
    right: 3px;
    top: 3px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #4cd964;
    border: 2px solid #FFF;
}
.close, #infopanel_h {
    font-size: 2em !important;
}
.modal-popup .panel-heading {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    color: #428bca;
}
.modal-popup .panel-heading .panel-title {
    font-weight: normal;
    font-size: 1em;
}
.modal-popup .panel-heading.active {
    background-color: #428bca;
    color: #FFF;
}
#btn-grp-search {
    line-height: 0 !important;
}
.panel-collapse > img {
    padding-left: 1.8em;
}
.panel-collapse > p {
    margin-left: 1.8em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #cccccc;
}
.olDragDown {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}
.has-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
    .tt-suggestion {
        line-height: 1 !important;
    }
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.column {
    height: 150px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
.column header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
        color-stop(0, rgb(0,0,0)),
        color-stop(0.50, rgb(79,79,79)),
        color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
a {
    outline: 0 !important;
}
.btn_5px {
    margin-bottom: 5px !important;
}
#noordpijl {
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 3000;
}
.panel {
    opacity: 0.9;
}
.rotate_45:before{
    transform: rotate(45deg);
}
.classification {
    margin-bottom: 0 !important;
    padding: 4px 4px !important;
}
.gevicode{
    border: 3px solid #000000;
    background-color: #FF6600;
    font-weight: bold;
    text-align: center;
}
.unnummer{
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
    background-color: #FF6600;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 999px) {
    #foutknop {
        left: 8px;
        bottom: 0;
        position: absolute;
    }
    #btn_care {
        display: none;
    }
    #btn_print {
        display: none;
    }
}
@media (min-width: 1000px) and (orientation: landscape) {
    #foutknop {
        left: 8px;
        bottom: 0;
        position: absolute;
    }
}
.drag-handle {
    color: #cccccc !important;
}
.image-wrapper{
    height: 100px;
    width: 200px;
}
.symbol-block{
    margin: 20px;
    height: 200px;
    width: 200px;
}
.milotron{
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
        
}
h4, h5, h6 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.tab-content{
    height: 440px;
    overflow: auto;
}
.accordion-heading a.accordion-toggle { display: inline-block; }
.input-group-addon, .input-group-btn {
    width: auto !important;
}

.input-group-addon {
    background-color: #ffffff !important;
}
.pagination {
    margin: 0 !important;
}
body {
    color: #000000;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.daterangepicker {
    z-index: 2000 !important;
}
#systeem_meldingen {
    position:absolute;
    width:400px;
    margin-left:-200px;
    bottom:0;
    left:50%;
    z-index:2001;
    margin-bottom: 0 !important;
}
.btn-group {
    z-index: 1001;
}
#header {

    position: absolute;
    right: 1em;
}
#search_input {
    background-color: #ffffff !important;
    max-width: 180px !important;
}
.dialog{
    z-index: 300;
    position: absolute;
}
.h4 {
    padding-right: 1em;
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0 1em 0 0 !important;
}

#minimappanel{
    margin-bottom: 0 !important;
}
.layActive {
    background-color: #AA0009 !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* For IE8 and earlier */
    color: #ffffff;
}
.olControlOverviewMapElement {
    padding: 0 !important;
}
.olControlOverviewMapExtentRectangle{
    cursor: move;
    border: 2px dotted red;
}
.olHandlerBoxZoomBox {
    border: 3px solid #357EBD;
    position: absolute;
    background-color: #cccccc;
    opacity: 0.40;
    font-size: 1px;
    filter: alpha(opacity=40);
}
#footer {
    /*background: none repeat scroll 0 0 rgba(53, 126, 189, 0.3);*/
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px 0 0 0;
    bottom: 0;
    color: #000000;
    position: absolute;
    text-align: right;
    width: 100%;
    padding-right: 1em;
}
#footer span {
    padding-left: 20px;
}
/*.olControlAttribution {
    right:0;
    bottom: 0;
}
.olControlMousePosition {
    bottom: 0;
    color: #ffffff;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-size: xx-small;
    padding: 2px 4px;
    position: absolute;
    right: 0;
    text-align: right;
}
.olControlScale {
    bottom: 0;
    color: #ffffff;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-size: xx-small;
    padding: 2px 4px;
    position: absolute;
    left: 0;
    text-align: left;
}*/

@media screen {
    .aan {
        background-color: #AA0009 !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important; /* For IE8 and earlier */
        color: #ffffff;
    }
    .uitleg {
        position:absolute;
        padding: 0.3em;
        padding-top:0.8em;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    ul.icons {
        list-style-type: none;
        margin-left: -1em;
        text-indent: -0.4em;
    }
    li [class^="icon-"], li [class*=" icon-"] {
        width: 0.4em !important;
    }
    .mtab {
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        color: #000000;
        -moz-border-radius-bottomleft: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        width: 1.2em;
        text-align: center;
        font-size: 3em;
        position: absolute;
        float: right;
        top: 0;
        z-index: 303;
        cursor: pointer;
        background-color: #ffffff;
    }

    .info {
        right: 0;
        z-index: 302 !important;
    }
    .zoek {
        background: #cccc00 url('../images/zoek_wit.png') no-repeat center center scroll;
        right: 13.5em;
        margin-right: 1%;
    }

    .olControlZoom {
        display: none !important;
    }
    .baselayertitle{
        color: #797979;
        border-bottom: 1px solid #cc9933 !important;
    }
    #mapc1map1 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        -ms-touch-action: none;
    }
    /*.infocontent{
        display: inherit;
        height: 100%;
        margin-left: 1em;
        margin-top: 3em;
        margin-bottom: 3em;
        overflow-y: auto;
    }*/
    .infofieldtitle{
        color: #cc9933;
    }
    .olControlScaleLineBottom{
        display: none;
    }
    #zoekpanel{
        display: none;
        border: 1px solid #cccccc;
        -moz-border-radius-topleft: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
        border-top-right-radius: 10px 10px;
        position: absolute;
        opacity:0.9;
        filter:alpha(opacity=90); /* For IE8 and earlier */
        width: 98%;
        padding: 1%;
        bottom: 0;
        z-index: 301;
        background-color: #ffffff;
        overflow: hidden;
    }
    #infopanel_b {
        font-size: 1.2em !important;
    }
    #zoekpanel div {
        font-size: 1.6em;
        padding: 0.8em;
        text-align: center;
    }

    .panel {
        z-index: 302;
    }

    .btn#zoom_in, .btn#zoom_out {
        display: none;
    }
    #c_minimap, #zoom_prev, #zoom_next, #permalink, #btn_refresh,  #btn_measure_distance, #btn_measure_area, #footer, .drag-handle.btn {
        display: none !important;
    }
}
@media screen and (max-width: 600px) {
    #logo{
        background: url('../images/brandweer-nederland_alpha_shaded-s.png') no-repeat center center scroll;
        height: 60px;
        width: 60px;
        margin: 1em;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    .panel div {
        padding: 0.2em;
        text-align: center;
    }
}
.featureinfo{
    border-bottom: solid 1px #cccccc;
    margin-bottom: 1em;
}
@media screen and (min-width: 601px) {
    #logo{
        background: url('../images/brandweer-nederland_alpha_shaded.png') no-repeat center center scroll;
        height: 90px;
        width: 90px;
        margin: 0;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
}
.olImageLoadError {
    display: none !important;
}

/* Toggles */
.layertoggle-btn-group {
    margin-right: 10px;
}

/* Modal popups */
.modal-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 0px;
    overflow: hidden;

    -webkit-transition: width .25s;
    transition: width .25s;

    z-index: 10000;
    background-color: #FFFFFF;
    /*background-color: rgba(255, 255, 255, .95);*/
}
.modal-popup-active {
    width: 100%;
}
.modal-popup-close {
    float: left;
    color: #428bca; /*#007AFF;*/
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 90px;
    height: 55px;
}
.modal-popup-close:hover {
    text-decoration: none;
}
.modal-popup-title {
    height: 55px;
    padding: 15px;
    overflow: hidden;
    font-size: 16px;
}
.modal-popup-view {
    padding: 0 15px 15px 15px;
    overflow: auto;
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* Some search popup fixes */
.modal-popup .input-group {
    width: 100%;
}
.modal-popup .twitter-typeahead {
    float: left;
    width: 100%;
    height: 46px;
}
.modal-popup .twitter-typeahead #search_input {
    height: 46px;
    font-size: 18px;
    max-width: none !important;
    width: 100%;
}
.modal-popup #search_input {
    max-width: none !important;
}
.modal-popup .btn {
    font-size: 18px !important;
}
.modal-popup .input-group-addon, .modal-popup .input-group-btn {
    width: 1% !important;
}
.unread {
    color: #AA0009 !important;
}
.table, .nav {
    font-size: 18px;
}
