html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}
a, a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}
.navbar-fixed-top {
  position: absolute !important;
}
.fill {
  min-height: 100%;
  padding-top: 50px;
  height: 100%;
  box-sizing: border-box;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#map {
  padding: 0 !important;
  margin: 0 !important;
  cursor: default;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  z-index: 0;
}
.img-hazard {
  width: 50%;
}
.hin {
  border: 3px solid #000;
  background-color: #F60;
  font-weight: 700;
  text-align: center;
}
.un {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
  background-color: #F60;
  font-weight: 700;
  text-align: center;
}
.leaflet-control-layers{
  display: none;
}
/*
.leaflet-control-minimap{
  display: none;
}
*/
.loadscreen {
    transition: 0.5s linear all;
    opacity: 1;
}
.loadscreen .ng-hide {
    opacity: 0;
}
.loadscreen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #FFF url("/images/Preloader_2.gif") no-repeat scroll center center;
}

.pagination {
  margin: 0 !important;
}
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
.panel-title .title {
  width: 90%;
}
.tab-pane {
  padding: 10px;
}
