div.modal-header
  h3.modal-title Baselayers

div.modal-body
  h3 {{organisation.gid}}: {{organisation.id}}({{organisation.workspace}})
  h4 {{organisation.title}}
  h5 Baselayers:
  ul
    li(ng-if="layer.baselayer === true", ng-repeat="layer in organisation.wms") {{ layer.name }}

div.modal-footer
