div.modal-header
  h3.modal-title Baselayers

div.modal-body
  ul.nav.nav-pills.nav-stacked
    li
      a(ng-click='toggleBaselayer(layer);',ng-repeat="layer in baselayers", ng-class="{'btn-primary' : layer.visible}") {{ layer.name }}

div.modal-footer
