div.modal-header
  h3.modal-title Overlays

div.modal-body
  uib-tabset
    uib-tab(heading='{{key}}',ng-repeat="(key, value) in overlays | groupBy: 'group'")
      uib-accordion(close-others="false")
        uib-accordion-group(ng-repeat="overlay in value" ng-class="{'panel-primary' : overlay.visible}")
          uib-accordion-heading
            span.title(ng-click="$event.stopPropagation();$event.preventDefault();toggleOverlay(overlay);") {{overlay.title}}
            span.pull-right
              i.fa.fa-info-circle
          p some text here for testing

div.modal-footer
