<header class="inner">
  <a id="forkme_banner" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}">View on GitHub</a>
  <h1 id="project_title">{{ site.title }}</h1>
  {% if site.subtitle %}<h2 id="project_tagline">{{ site.subtitle }}</h2>{% endif %}
    <section id="downloads">
      <a class="zip_download_link" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}/tarball/master">Download this project as a tar.gz file</a>
    </section>
</header>
