<header class="inner">
  <a id="forkme_banner" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}">View on GitHub</a>
  <h1 id="project_title">{{ site.title }}</h1>
  {% if site.subtitle %}<h2 id="project_tagline">{{ site.subtitle }}</h2>{% endif %}
    <section id="downloads">
      <a class="zip_download_link" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}/tarball/master">Download this project as a tar.gz file</a>
    </section>
</header>
{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<ul>
{% for node in site.pages %}
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
      {% if node.title == page.title %}
      <li class="active"><a href='{{node.url}}'>{{node.title}}</a></li>
      {% else %}
      <li><a href='{{node.url}}'>{{node.title}}</a></li>
      {% end if%}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
