/*
	styles for brandweer app.

	authors:
		wilfred nas
		@wnas
		gerben hoeve
		@dadesigndoctorG
 */
.radio-checkbox-before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px #95b7c7;
  text-align: center;
  background: #c2deea;
  box-shadow: inset 0 1px 1px #a9cdd9;
  -webkit-box-shadow: inset 0 1px 1px #a9cdd9;
  background: -moz-linear-gradient(top, #b7dbe6 1%, #cbe3ed 99%);
  background: -webkit-linear-gradient(top, #b7dbe6 1%, #cbe3ed 99%);
  background: -ms-linear-gradient(top, #b7dbe6 1%, #cbe3ed 99%);
  background: -o-linear-gradient(top, #b7dbe6 1%, #cbe3ed 99%);
  background: linear-gradient(top, #b7dbe6 1%, #cbe3ed 99%);
}
.radio-checkbox-checked-before {
  border: solid 1px #1f6e95;
  color: #fff;
  background: #00a1de;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -moz-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -webkit-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -ms-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -o-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  text-shadow: 0 2px 1px #1f6e95;
}
.select-after {
  position: absolute;
  right: 0;
  bottom: 2px;
  vertical-align: middle;
  content: '';
  width: 28px;
  height: 27px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAIAAACQzIFuAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAGiSURBVEhLY/z////vf/8ZqA1+/f1349UnRpDpf6lvOtC1QAtApv+ijelAC0Cm//z7j9oBAzUPZPqPP7Q0/TtNTf/2m5Zu/0JT0z//oqXbP/36S8M08+EnLU1/TzPTmYBh8u//f1zo8rO3Bg2Ll5+5haYAKAIUB8ri0QuUApkOzFC4QPziA6yqFm37b688exuuBsgGigDFgbJ49AKlQHn11fffuGJ1x5OvzcfeAGW/P74WYyBR5GzYt/f8kgsvOGW1gIK1ViIeMtx4UgTI9JffcJrOycK88fGXpiOvgEb8fHGf++frr+yi7BKKQG6djZi/LM/3P/hSBMj0F7hNB5oCtGATzIJ/v74zsXFCjPYjZDS0jHz2FafbIb7mYmHe/ATqA4jRvjI83/C6GqIR5PanX34RzE1crMxbnnwFBhHQaB8Z7m+/icoiINMfE2E60HpuVmYhduZ3P/9+Jc5oqNsffSbsdoKew6oA5PYHtDX900/ynEZQFziv0gyBQubux6HpdkgpRitE+3C/+f4HwdgnTwEN3f7nH7j2oAX4++//i09fAREhL/DuFwIjAAAAAElFTkSuQmCC") no-repeat center center #ffffff;
  pointer-events: none;
  border: 0;
  border: 1px solid #abd7ea;
  border-radius: 0 .4rem .4rem 0;
}
body,
fieldset,
div,
input,
h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: helvetica, arial, verdana, sans-serif;
}
body,
.f-input,
.f-select,
.f-button {
  font-size: 1rem;
}
a {
  color: #000044;
}
.f-input,
.f-select,
.f-button {
  box-sizing: border-box;
}
fieldset {
  border: 0;
}
.f-form {
  padding: 1rem 0;
}
.f-form .f-legend {
  display: block;
  font-size: 1.5rem;
  padding: .5rem;
  border-bottom: 1px solid #5b7a75;
}
.f-form .f-container {
  padding: .5rem 0;
  position: relative;
}
.f-form .f-label {
  width: 100%;
  display: block;
  padding: 0.2rem 0.4rem;
}
@media only screen and (min-width: 700px) {
  .f-form .f-label {
    display: inline-block;
    width: 40%;
    width: -webkit-calc(49.2%);
    width: calc(49.2%);
  }
}
.f-form .f-required .f-label::after {
  content: '*';
}
.f-form .f-readonly {
  color: #008080;
}
.f-form .f-readonly .f-input {
  background-color: #00e6e6;
  font-style: italic;
}
.f-form .f-error {
  color: red;
}
.f-form .f-error .f-input {
  border-color: red;
}
.f-form .f-select-label {
  position: relative;
  font-size: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.f-form .f-select-label .f-select {
  font-size: 1rem;
}
.f-form .f-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}
.f-form .f-input,
.f-form .f-select {
  padding: 0.2rem 0.4rem;
  border: 1px solid #5b7a75;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .f-form .f-input,
  .f-form .f-select {
    width: 40%;
    width: -webkit-calc(47.2%);
    width: calc(47.2%);
  }
}
.f-form .f-input:focus,
.f-form .f-select:focus {
  outline: none;
  background-color: #edf1f1;
}
.f-form .f-input:disabled,
.f-form .f-select:disabled {
  border-color: #ccc;
  color: #ccc;
}
.f-form .f-input:readonly,
.f-form .f-select:readonly {
  border-width: 0 0 1px;
}
.f-form .f-select {
  width: 100%;
}
.f-form .f-day-select {
  width: 25%;
}
.f-form .f-month-select {
  width: 30%;
}
.f-form .f-year-select {
  width: 40%;
}
.f-form .f-radio-label,
.f-form .f-checkbox-label {
  position: relative;
}
.f-form .f-radio-label .f-radio,
.f-form .f-checkbox-label .f-radio,
.f-form .f-radio-label .f-checkbox,
.f-form .f-checkbox-label .f-checkbox {
  visibility: hidden;
}
.f-form .f-radio-label .f-radio:checked ~ .f-inner-label::before,
.f-form .f-checkbox-label .f-radio:checked ~ .f-inner-label::before,
.f-form .f-radio-label .f-checkbox:checked ~ .f-inner-label::before,
.f-form .f-checkbox-label .f-checkbox:checked ~ .f-inner-label::before {
  background-color: #000;
  border: solid 1px #1f6e95;
  color: #fff;
  background: #00a1de;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -moz-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -webkit-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -ms-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: -o-linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  background: linear-gradient(bottom, #00a1de 70%, #0091c8 98%);
  text-shadow: 0 2px 1px #1f6e95;
}
.f-form .f-inner-label {
  padding: 0.2rem 0.4rem;
}
.f-form .f-radio-label .f-inner-label::before {
  border-radius: 1em;
}
.f-form .f-button {
  padding: 0.2rem 0.4rem;
  text-decoration: none;
}
.f-form .f-button.f-button-primary {
  border: 1px solid #abd7ea;
  border-radius: .4rem;
  color: #329cca;
  background: #fff;
  font-weight: bold;
  float: right;
}
.f-form .f-button.f-button-secondary {
  color: #e7edec;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
fieldset {
  display: none;
}
#contact,
#contact fieldset {
  display: block;
}
