<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.subtitle }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    </head>
    <body>
      <!-- HEADER -->
     {% include header.html %}
      <!-- MAIN CONTENT -->
      <div class="container">
          {{ content }}
      </div>
     {% include footer.html %}
     {% if page.disqus == 1 %}
       {% include disqus.html %}
      {% else %}
        {% include disqus.html %}
      {% endif %}
      {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
      {% endif %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
